* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.55);
}

#wrapper {
  height: 100%;
  width: 100%;
  background-color: #4d455d;
}
#wrapper header {
  width: 100%;
  height: 250px;
  background-color: #e96479;
  display: grid;
  place-items: center;
}
#wrapper header h1 {
  font-size: 3rem;
  font-weight: 600;
}
#wrapper #content {
  width: 100%;
  height: calc(100% - 250px);
  display: flex;
  align-items: center;
}
#wrapper #content ul {
  position: relative;
  list-style-type: none;
  margin: 50px;
}
#wrapper #content ul li {
  position: relative;
  width: 5px;
  height: 300px;
  background-color: rgb(255, 235, 235);
}
#wrapper #content ul li .info,
#wrapper #content ul li .info-triangle {
  position: absolute;
  transition: transform 850ms;
  transition-timing-function: ease-out;
  opacity: 0;
}
#wrapper #content ul li .info {
  background-color: #e96479;
  height: 200px;
  padding: 15px;
  top: 100px;
  z-index: 2;
}
#wrapper #content ul li .info p {
  padding-top: 5px;
}
#wrapper #content ul li .info-triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #e96479;
  border-bottom: 10px solid transparent;
  top: 275px;
  z-index: 1;
}
#wrapper #content ul li:nth-child(odd) .info {
  transform: translateX(1550px);
}
#wrapper #content ul li:nth-child(odd) .info-triangle {
  transform: translateX(1530px);
}
#wrapper #content ul li:nth-child(even) .info {
  transform: translateX(-1645px);
}
#wrapper #content ul li:nth-child(even) .info-triangle {
  transform: translateX(1645px);
}
#wrapper #content ul .in-view .info,
#wrapper #content ul .in-view .info-triangle {
  transform: translateX(0px) !important;
  opacity: 1;
}
#wrapper #content ul .in-view::after,
#wrapper #content ul li::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  top: 270px;
}
#wrapper #content ul .in-view::after {
  background-color: #e96479;
  transition: all 1000ms;
}
#wrapper #content ul li::after {
  background-color: rgb(255, 235, 235);
}

@media screen and (min-width: 950px) {
  #content {
    justify-content: center;
  }
  #content ul li:nth-child(odd) .info {
    width: 400px !important;
    left: 50px;
  }
  #content ul li:nth-child(odd) .info-triangle {
    left: 30px;
  }
  #content ul li:nth-child(even) .info {
    width: 400px !important;
    left: -445px !important;
  }
  #content ul li:nth-child(even) .info-triangle {
    left: -45px;
    rotate: 180deg;
  }
}
@media screen and (min-width: 716px) {
  #content {
    justify-content: center;
  }
  #content ul li:nth-child(odd) .info {
    width: 300px;
    left: 50px;
  }
  #content ul li:nth-child(odd) .info-triangle {
    left: 30px;
  }
  #content ul li:nth-child(even) .info {
    width: 300px;
    left: -345px;
  }
  #content ul li:nth-child(even) .info-triangle {
    left: -45px;
    rotate: 180deg;
  }
}
@media screen and (max-width: 715px) {
  #content {
    justify-content: flex-start;
  }
  #content ul li:nth-child(odd) .info {
    width: 300px;
    left: 50px;
  }
  #content ul li:nth-child(odd) .info-triangle {
    left: 30px;
  }
  #content ul li:nth-child(even) .info {
    width: 300px;
    left: 50px;
  }
  #content ul li:nth-child(even) .info-triangle {
    left: 30px;
    rotate: 0deg;
    transform: translateX(-1345px) !important;
  }
}